body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f2cc;
    height: auto;
    width: auto;
}

.plot-container {
    display: flex; 
    justify-content: space-around;
    align-items: center; 
    height: 60vh; 
    margin-left: 12%;
    margin-right: 12%;
    margin-top: auto;
    margin-bottom: auto;
}
.plot-iframe {
    border: none; 
    width: 50%; 
    height: 100%;
}

.container {
    width: 100%;
    max-width: auto;
}

.navbar {
    background-color: #0a8098;
    padding: 10px;
}
.nav-links{
    float: right;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.navbar a:hover {
    text-decoration: underline;
}

.container-info {
    background-color: #fff;
    padding: 5px;
    margin-top: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container_btn{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 0;
    margin-bottom: auto;
}

.sim_btn{
    margin-top: auto;
    color: white;
    width: 100%;
    max-height: 90px;
    margin-bottom: 2%;
    margin-left: 20%;
    max-height: 70px;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 7%;
    padding-right: 2%;
    border-radius: 10px;
    border-color: #0a8098;
    background-color: white;
    opacity: 80%;
    outline: #0a8098;
    
}
.sim_btn:focus{
    outline: none;
}
.container-upload {
    text-align: center;
    color: #054a63;
    background-color: white;
    padding: 20px;

}
#cnt-head{
    background-color: #fff;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.choose-btn{
    height: 50px;
    display: block;
    margin: 10px auto;
    padding-left: 40px;
    padding-right: 10px;
    align-content:center;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #0a8098;
    color: #fff;
    cursor: pointer;
}

#tool_dia,#feedrate,#incremental_depth{
    margin-left: 25%;
    margin-right: 25%;
    background-color: white;
    min-width: 49%;
    height: 25px;
    padding: auto;
    border-radius: 5px;
    border-color: #0a8098;
}

.upload_btn{
    margin-top: 8px;
    padding: auto;
    color: #0a8098;
    width: 10%;
    height: 70px;
    border-color: #0a8098;
    border-radius: 80px;
    background-color: white;
    opacity: 80%;
}
.another_btn, .contour_btn, .spiral_btn{
    color: white;
    justify-content: center;
    align-items: center;
    width: 10%;
    max-height: 90px;
    padding-left: 1%;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 1%;
    border-radius: 20px;
    border-color: #0a8098;
    background-color: white;
    opacity: 80%;
    outline: #0a8098;
}
.another_btn:focus, .contour_btn:focus, .spiral_btn:focus, .signup-btn:focus, .signin-btn:focus, .lan_btn:hover:focus{
    outline: none;
}
.upload_btn:hover, .choose-btn:hover, .another_btn:hover, .contour_btn:hover, .spiral_btn:hover, .sim_btn:hover, .signin-btn:hover, .signup-btn:hover, .lan_btn:hover:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: black;
    background-color: white;
    border: #fafafa;
    cursor: pointer;
    font-size: larger;
    
}
.button_view{
    color: white;
}

.button_view:hover, .sim_btn{
    text-decoration: none;

}


footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}

footer h2 {
    margin-bottom: 10px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #a2c1e5, #01394b); /* Shades of blue */
    color: #333;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #365f79;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.header img {
    height: 110px;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 20px;
}
.main-content {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
}
.text {
    flex: 1;
    padding: 20px;
}
.text h1 {
    font-size: 3em;
    margin: 0;
}
.text p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-top: 20px;
}
.text .btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2em;
    color: #fff;
    background: #01394b;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease;
}
.text .btn:hover {
    background: rgb(6, 148, 243);
}
.image {
    flex: 1;
    padding: 20px;
}
.image img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.footer {
    background: #252525;
    padding: 20px;
    text-align: center;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}
.footer p {
    margin: 0;
    font-size: 1.2em;
}
.team-info {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.team-member {
    width: 30%;
    padding: 10px;
    margin: 10px;
    background: #000000;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.team-member h3 {
    margin: 0;
    font-size: 1.5em;
}
.team-member p {
    margin-top: 5px;
    font-size: 1.1em;
    color: #666;
}
footer form {
    margin-bottom: 20px;
}

footer input {
    padding: 10px;
    margin: 5px 0;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 40%;
}

footer button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
    cursor: pointer;
}

footer button:hover {
    background-color: #777;
}

footer p {
    margin-top: 20px;
    font-size: 0.9em;
    color: #ccc;
}

.drop-zone {
margin-left: 25%;
margin-right: 25%;
margin-top: auto;
margin-bottom: auto;

height: 250px;
padding: 25px;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
font-family: "Quicksand", sans-serif;
font-weight: 500;
font-size: 20px;
cursor: pointer;
color: #cccccc;
border: 4px dashed #086394;
border-radius: 10px;
}

.drop-zone__prompt{
font-size: 30px;
padding-top: 5px;
}

.plus{
font-size: 100px;
}

.drop-zone--over {
border-style: solid;
}

.drop-zone__input {
display: none;
}

.drop-zone__thumb {
width: 60%;
height: 80%;
border-radius: 10px;
overflow: hidden;
background-image: url(./STEP.png);
background-position: center;
background-size: cover;
position: relative;
}

.drop-zone__thumb::after {
content: attr(data-label);
position: absolute;
bottom: 0;
left: 0;
width: 100%;
padding: 5px 0;
color: #ffffff;
background: rgba(0, 0, 0, 0.75);
font-size: 14px;
text-align: center;
}

.footer {
background: #252525;
padding: 20px;
text-align: center;
box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}
.footer p {
margin: 0;
font-size: 1.2em;
}
.team-info {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.team-member {
    width: 30%;
    padding: 10px;
    margin: 10px;
    background: #000000;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.team-member h3 {
    margin: 0;
    font-size: 1.5em;
}
.team-member p {
    margin-top: 5px;
    font-size: 1.1em;
    color: #666;
}
.main-nav{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}
.left-nav{
    display: flex;
    gap: 20px;
}